<div class="about-section" style="text-align: center;">
	<div class="container-fluid">
		<div class="about-container">
			<h1 style="color:white">We're a Team of Bakers and Professionals Dedicated to Serving You!</h1>
			<h2 style="color:white">We're in this Business to make your life happier, easier and gooeyly delicious.<br/><br>Join Us.</h2>
			<br/>	
		</div>
	</div>
</div>
<div class="container-fluid about-background">
	<h1 class="center">About the Team</h1>
	<div class="about-text">
		<p>We're a team of Phoenix professionals that are here make your life happier.  We're operators, programmers, designers and bakerswho are looking to give you the best cookie experience possible.</p>

		<p>We were business professionals at one point and found that we needed a late night cookie delivery service near our home!</p>

		<p>So how do you find a great, timely cleaner to maintain your home and keep you free to do other things in your life?</p>

		<p>You don't!  We do!</p>
	</div>
</div>

<div class="container-fluid about-background darkish_grey center top-50">
	<div class="about-avatar"><img src="/images/scottsdale_avatar.png"></div>
	<p class="about-testimonial">"The big difference with Cookie Devils is that they have the whole package. I look at them more as a concierge service, who just happen to provide a late night cookie delivery service.  Just cookies, No hassle and no worries!"</p>

	<p class="about-testimonial">- John Albee, Phoenix, AZ</p>

</div>

<div class="container-fluid about-background tan top-50">
	<h1 class="center">Say Hello</h1>
	<div class="about-text center extra-padding">
		<p>Have a Question?  Need help?  Give us a ring at (480) COO-KIES.</p>

		<p>You can also reach us via email at amazing@cookiedevils.com</p>

		<p>We look forward to speaking with you!</p>
	</div>
</div>