<div class="about-section" style="text-align: center;">
	<div class="container-fluid">
		<div class="about-container">
			<h1 style="color:white">We're a Team of Cleaners and Professionals Dedicated to Serving You!</h1>
			<h2 style="color:white">We're in this Business to make it easier, faster and better for you to come home to a clean house.<br/><br>Join Us.</h2>
			<br/>	
		</div>
	</div>
</div>
<div class="container-fluid about-background">
	<h1 class="center">About the Team</h1>
	<div class="about-text">
		<p>We're a team of Phoenix professionals that are here make your life easier.  We're operators, programmers, designers and cleaners who are looking to give you the best cleaning experience possible.</p>

		<p>We were business professionals at one point and found that finding, managing and communicating with a cleaner is almost a full time job.  On top of that when you're cleaner leaves you're left in the dust to start the process all over again.</p>

		<p>You should be out enjoying life, not managing a small workforce.</p>

		<p>So how do you find a great, timely cleaner to maintain your home and keep you free to do other things in your life?</p>

		<p>You don't!  We do!</p>
	</div>
</div>

<div class="container-fluid about-background blue center top-50">
	<div class="about-avatar"><img src="/images/scottsdale_avatar.png"></div>
	<p class="about-testimonial">"I’ve worked with a good handful of cleaners in my time, and that’s exactly what most were, JUST cleaners. The big difference with MaidFox is that they have the whole package. I look at them more as a concierge service, who just happen to provide a cleaning service.  No hassle and no worries!"</p>

	<p class="about-testimonial">- John Albee, Phoenix, AZ</p>

</div>

<div class="container-fluid about-background tan top-50">
	<h1 class="center">Say Hello</h1>
	<div class="about-text center extra-padding">
		<p>Have a Question?  Need help?  Give us a ring at (480) 360-6243 (MAID).</p>

		<p>You can also reach us via email at carlos@maidfox.com</p>

		<p>We look forward to speaking with you!</p>
	</div>
</div>