<link rel="stylesheet" id="fonts_style-css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700" type="text/css" media="all">
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">

<div class="example-first_section" style="padding-top: 200px; text-align: center;">
	<div class="container-fluid">
		<div class="confirmation-container">

			<h1 style="color:white">Your Order has Been Confirmed!</h1>
			<h2 style="color:white">We're carefully kneeding your dough. <br/>  We'll deliver your cookies within 20 minutes!</h2>
			
			<br/>
			
		</div><br/>
	</div>
</div>