<link rel="stylesheet" id="fonts_style-css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700" type="text/css" media="all">
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">

<div class="homeBanner cf"  id="form">
	<img alt="" src="images/cookie_delivery_tempe.jpg" class="fullBanner">
	<div class="example-top_section">
		<div class="bannerDetail hidden-sm hidden-xs">
			<div class="bannerConn">
				<h1>Get Warm Cookies Delivered</h1>
				<p>in 20 Minutes or Less</p>
				<!-- <ul class="checkMarck cf">
	          		<li class="width60"><span></span>Easy &amp; secure online booking</li>
	                <li><span></span>Quick Delivery</li>
	                <li class="width60"><span></span>Tasty Home Made Cookies</li>
	                <li><span></span>Did we Mention Cookies!</li>
	            </ul> -->
	        </div>
			
			<%= render 'appointments/new' %>
			
		</div>
		<!-- <div class="example-home_width">
			<a href="/appointments/new"><span>Schedule Lawn Care</span></a>
		</div> -->
		<div class="bannerBg hidden-sm hidden-xs"></div>
	</div>
	<div class="bannerConn hidden-md hidden-lg">
		<center>
			<h1>Get Warm Cookies Delivered</h1>
				<p>in 20 Minutes or Less</p>
			<ul class="checkMarck cf">
	          		<li class="width60"><span></span>Easy &amp; secure online booking</li>
	                <li><span></span>Quick Delivery</li>
	                <li class="width60"><span></span>Tasty Home Made Cookies</li>
	                <li><span></span>Did we Mention Cookies!</li>
	            </ul>

	        <%= render 'appointments/new' %>
	        <br/>
    	</center>
	</div>
</div>

<!-- <div class="example-second_section">
	<div class="fluid-container">
		<img src="/images/sharktanklogo.png" class="example-img">
		<img src="/images/lifehackerlogo.png" class="example-img">
		<img src="/images/techcrunchlogo.png" class="example-img">
		<img src="/images/food_wine.png" class="example-img hidden-xs">
	</div>
</div> -->

<div class="example-third_section" id="how">
	<div class="fluid-container">
		<h2>How it Works</h2>
		<p class="sub-info">Need a Late Night Snack!  Order Warm Cookies Straight To Your Home!</p>
		<!-- <div class="example-steps">
			<div class="col-md-4">
				<div class="step-img">
					<i class="fa fa-calendar-check-o fa-4x"></i>
				</div>
				<h4>Book</h4>
				<p>Book your recurring or one-time maid service online with instant confirmation</p>
			</div>
			<div class="col-md-4">
				<div class="step-img">
					<i class="fa fa-check fa-4x"></i>
				</div>
				<h4>Confirm</h4>
				<p>Send instructions regarding your needs.  Once confirmed you're all set, no worries</p>
			</div>
			<div class="col-md-4">
				<div class="step-img">
					<i class="fa fa-smile-o fa-4x"></i>
				</div>
				<h4>Relax</h4>
				<p>Relax and enjoy your beautifully landscaped lawn and be the envy of the neighborhood.</p>
			</div>
		</div> -->
		<div class="container-fluid">
			<div class= "row">
				<div class= "col-md-4 col-sm-4">
					<div class="holder">
						<div class="img_holder">
							<img src="/images/computer.jpg">
						</div>
						<div class="inner_holder">
							<div class="icon_holder">
								<img src="/images/mouse_icon.png">
							</div>
							<h3>Book Online & Get Warm Cookies</h3>
								Choose a delicious basket full of warm cookies online.						
						</div>
					</div>
				</div>

				<div class= "col-md-4 col-sm-4">
					<div class="holder">
						<div class="img_holder">
							<img src="/images/cookies.jpg">
						</div>
						<div class="inner_holder">
							<div class="icon_holder">
								<img src="/images/bubble_icon.png">
							</div>
							<h3>We Bake & Deliver</h3>
								Our Bakery is Primed with Warm Cookies.  Ready To Deliver with Guaranteed Freshness						
						</div>
					</div>
				</div>

				<div class= "col-md-4 col-sm-4">
					<div class="holder">
						<div class="img_holder">
							<img src="/images/warm_cookies.jpg">
						</div>
						<div class="inner_holder">
							<div class="icon_holder">
								<img src="/images/coffee_icon.png">
							</div>
							<h3>Relax</h3>
								Sit Back and Enjoy.  We're at your home in 20 minutes or less!  You now have those late night munchies taken care of!  
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="book_button">
			<p>Ready to Order some Amazing Cookies?</p><br/>
			<center>
				<a class="btn btn-blue" href="#form">Order Now</a>
			</center>
		</div>
	</div>
</div>



<div class="testimonials">
	<div class="fluid-container">
		<h2>Customer Testimonials</h2>

		<p>OMG!  This is the perfect late night service!  I normally go for pizza or the like, but ever since I found Cookie Devils I get my late night fix with them!  Must try!
			<div class="customerName">Charles A., Phoenix, AZ
				<span><img src="images/5star.png"></span>
			</div>
		</p>

	</div>
</div>
<div class="container-fluid">
	<div class="logo-stuff">
		<div class="wrapper">
			<ul>
				<li><img src="/images/yelp.png"></li>
				<li><img src="/images/foursquare.png"></li>
				<li><img src="/images/google-plus.png"></li>
				<li><img src="/images/thumbtack.png"></li>
			</ul>
		</div>

	</div>
</div>



<div class="example-footer">
	<div class="container-fluid">
		<div class="short-border">
			<h4>We're on Demand Cookies for the Tempe Area.  With only a few clicks you'll get the warmest premium cookies straight to your door!</h4>
			<p style="color:#888">We started Cookie Devils to solve a glaring hole.  We're one of the largest college areas and we don't have a cookie delivery system!  After living in Boston and getting the best, we tapped our family's years of baking experience to form the perfect cookies delivered straight to your home!</p>
		</div>
	</div>
</div>