<link rel="stylesheet" id="fonts_style-css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700" type="text/css" media="all">
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">

<div class="example-first_section">
	<div class="example-top_section">
		<h1>BOOK A TRUSTED LANDSCAPING PROFESSIONAL</h1>
		<h2>Just Pick a Day and We'll do the Rest. Don't wade through dozens of quotes.<br/>  Get professional & quick service, today!</h2>
		
		<%= render 'appointments/new' %>
		<br/>
		<!-- <div class="example-home_width">
			<a href="/appointments/new"><span>Schedule Lawn Care</span></a>
		</div> -->

	</div>
</div>

<!-- <div class="example-second_section">
	<div class="fluid-container">
		<img src="/images/sharktanklogo.png" class="example-img">
		<img src="/images/lifehackerlogo.png" class="example-img">
		<img src="/images/techcrunchlogo.png" class="example-img">
		<img src="/images/food_wine.png" class="example-img hidden-xs">
	</div>
</div> -->

<div class="example-third_section" id="how">
	<div class="fluid-container">
		<h2>Spend your time doing things you love. We'll take care of the lawn!</h2>
		<div class="example-steps">
			<div class="col-md-4">
				<div class="step-img">
					<i class="fa fa-calendar-check-o fa-4x"></i>
				</div>
				<h4>Book</h4>
				<p>Book your recurring or one-time lawn mowing or yard work service online with instant confirmation</p>
			</div>
			<div class="col-md-4">
				<div class="step-img">
					<i class="fa fa-check fa-4x"></i>
				</div>
				<h4>Confirm</h4>
				<p>Send instructions regarding your needs.  Once confirmed you're all set, no worries</p>
			</div>
			<div class="col-md-4">
				<div class="step-img">
					<i class="fa fa-smile-o fa-4x"></i>
				</div>
				<h4>Relax</h4>
				<p>Relax and enjoy your beautifully landscaped lawn and be the envy of the neighborhood.</p>
			</div>
		</div>
	</div>
</div>

<div class="example-fourth_section">
	<div class="fluid-container">
		<p>This week <strong>5% From your purchase</strong> goes to a local Phoenix Charity<br>
		Kids are Noble®</p>
	</div>
</div>

<div class="example-fifth_section">
	<div class="container-fluid">
		<div class="col-md-3"></div>
			<div class="col-md-6">
					<h3>Our Professionals</h3>
					<ul>
		                <li>
		          Background and reference checked        </li>
		                <li>
		          Consistently high customer rating        </li>
		                <li>
		          Passed practical lawn care exam        </li>
		                <li>
		          Fully Insured teams        </li>
		                <li>
		          Reliable and trustworthy        </li>
		                <li>
		          No waiting, no quotes, no phone calls.  Confirmed Immediately.        </li>
		              </ul>
			</div>
		<div class="col-md-3"></div>
	</div>
</div>

<div class="example-sixth_section">
	<div class="container-fluid" style="padding-bottom: 20px;">
		<div>
			<h3>200% Happiness Guaranteed</h3>
			<p>If you’re not happy with your service we will be back to fix it for free!</br> &nbsp;If you’re still not happy, we offer a full refund. The strongest guarantee in the business.</p>
		</div>
	</div>
</div>

<!--<div class="example-seventh_section">
	<div class="container-fluid" style="text-align:center">
		<h2>We make it Super Easy!</h2>
			<div class="col-md-2">
				<div class="motives-img">
					<img src="http://lawntribe.com/wp-content/uploads/2014/04/m1.png">
				</div>
				<p>Choose Your Date!</p>
			</div>
			<div class="col-md-2">
				<div class="motives-img">
					<img src="http://lawntribe.com/wp-content/uploads/2014/04/m1.png">
				</div>
				<p>Choose Your Date!</p>
			</div>
			<div class="col-md-2">
				<div class="motives-img">
					<img src="http://lawntribe.com/wp-content/uploads/2014/04/m1.png">
				</div>
				<p>Choose Your Date!</p>
			</div>
			<div class="col-md-2">
				<div class="motives-img">
					<img src="http://lawntribe.com/wp-content/uploads/2014/04/m1.png">
				</div>
				<p>Choose Your Date!</p>
			</div>
			<div class="col-md-2">
				<div class="motives-img">
					<img src="http://lawntribe.com/wp-content/uploads/2014/04/m1.png">
				</div>
				<p>Choose Your Date!</p>
			</div>

		</ul>
	</div>
</div> -->

<div class="example-eighth_section">
	<div class="container-fluid">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			<iframe src="https://www.google.es/maps/d/u/9/embed?mid=zzUK-KickKIg.kzzUEfW_rguw" width="350" height="350"></iframe>
		</div>
		<div class="col-md-4 example-serve">
			<h2>Where We Serve</h2>
			<p style="margin: 0 10px 10px;" class="map-text">Phoenix, Mesa, Tempe, the Phoenix Metro Area if you will.  Simply put, if you live within an hour's drive of Phoenix, we're there! </p>
			
		</div>
		<div class="col-md-2"></div>
	</div>
</div>

<div class="example-footer">
	<div class="container-fluid">
		<div class="short-border">
			<h4>We're Lawn Care for the 21st Century.  Get your Lawn serviced with only a few clicks.</h4>
			<p style="color:#888">We started Landscaping Fox to solve a glaring hole.  That in the days of Uber you still have to get 12 quotes in order to find a good landscaper in your neighborhood.  It's a mess and one you shouldn't have to worry about.  Use Landscaping Fox and get your Landscaping done with only a few clicks.</p>
		</div>
	</div>
	<div class="container-fluid">
		<div class="footer-nav">
			<ul>
				<li><a href="/">About Us</a></li>
				<li><a href="/">About Us</a></li>
				<li><a href="/">About Us</a></li>
				<li><a href="/">About Us</a></li>
				<li><a href="/">About Us</a></li>
			</ul>
		</div>
		<div class="example-copyright">
			Landscaping Fox™ was proudly made in Phoenix AZ | Copyright 2014
			Landscaping Fox | 5550 Fake St., Phoenix AZ 85017 | (480) 418-LAWN
		</div>
	</div>
</div>