    <div class="section footer-section">
    <div class="container-fluid">
      <div  class="row">
        <div class="col-md-3" style="margin-left:10px;">
          <div class="footerlabel"><strong>Welcome to <span>Cookie Devils!</span></strong></div><br/>
          <div>
            <p class="footer-text" style="letter-spacing:1px;" itemprop="description">Get warm cookies delivered straight to your door!  We're a local Tempe business dedicated to helping feed your late night hunger with the most delicious cookies in Arizona!</p>
          </div>

        </div>
        <div class="col-md-3">
          <ol class="w-list-unstyled">
            <li>
              <div class="footerlabel">Navigation</div>
            </li>
            <li><a class="footer-link" href="/">Cookie Devils</a>
            </li>
            <li><a class="footer-link" href="/about">About Us</a>
            </li>
            <li><a class="footer-link" href="/privacy">Privacy</a>
            </li>
            <li><a class="footer-link" href="/terms-of-service">Terms of Service</a>
            </li>
          </ol>
        </div>
        <div class="col-md-3">
          <ol class="w-list-unstyled">
            
            <li>
              <div class="footerlabel">Areas We Deliver</div>
            </li>
            <li><a class="footer-link" href="#form">Arizona State University</a>
            </li>
            <li><a class="footer-link" href="#form">Tempe</a>
            </li>
            <li><a class="footerlabel" href="#form">Catering</a>
            </li>
            <li><a class="footer-link" href="#form">Valley Wide</a>
            </li>
            <li><a class="footer-link" href="#form">Phoenix</a>
            </li>
            <li><a class="footer-link" href="#form">Scottsdale</a>
            </li>
            
          </ol>
        </div>

        <div>
          <ol class="w-list-unstyled">
            <div class="footerlabel">Cookie Devils</div>
            <div  class="address">
              <p >(480) ###-####</p>
              <p>Address:</p>
              <p>Address</p>
              <p><span>Phoenix</span>, <span>AZ</span> <span>85017</span></p>

            </div>            
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-section">
    <div class="footer-text" style="margin-left:20px; letter-spacing: 1px;">©&nbsp;Cookie Devils. All Rights Reserved.</div>
  </div>
<span></span>                                                                                                                                                                                                                                                           