  <div class="section footer-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4" style="margin-left:10px;">
          <div class="footerlabel"><strong>Welcome to Landscaping Fox</strong></div><br/>
          <div>
            <p class="footer-text" style="letter-spacing:1px;">Get a Perfectly Manicured Lawn with just three clicks.  We'll get you started with a quick and simple process!  Superior Service now Tech Enabled :)</p>
          </div>
        </div>
        <div class="col-md-3">
          <ol class="w-list-unstyled">
            <li>
              <div class="footerlabel">Navigation</div>
            </li>
            <li><a class="footer-link">Scottsdale Maid Services</a>
            </li>
            <li><a class="footer-link" href="/privacy">Privacy</a>
            </li>
            <li><a class="footer-link" href="/terms-of-service">Terms of Service</a>
            </li>
            <li><a class="footer-link" href="/careers">Careers</a>
            </li>
          </ol>
        </div>
        <div class="col-md-3">
          <ol class="w-list-unstyled">
            <li>
              <div class="footerlabel">Services</div>
            </li>
            <li><a class="footer-link">Customized Cleaning</a>
            </li>
            <li><a class="footer-link">Screened & Trained Employees</a>
            </li>
            <li><a class="footer-link">Free Consultations</a>
            </li>
            <li><a class="footer-link">Satisfaction Guaranteed</a>
            </li>
          </ol>
            
          </ol>
        </div>
        <div class="col-md-2">
          <ol class="w-list-unstyled">
            
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-section">
    <div class="footer-text" style="margin-left:20px; letter-spacing: 1px;">©&nbsp;Landscaping Fox. All Rights Reserved.</div>
  </div>
