    <div class="section footer-section">
    <div class="container-fluid">
      <div  class="row">
        <div class="col-md-3" style="margin-left:10px;">
          <div class="footerlabel"><strong>Welcome to <span>Scottsdale's Cleaning Service</span></strong></div><br/>
          <div>
            <p class="footer-text" style="letter-spacing:1px;" itemprop="description">Get a Perfectly Cleaned Scottsdale Home with just three clicks.  We'll get you started with our quick and simple cleaning service!  A Superior Maid Service, now Tech Enabled</p>
          </div>

        </div>
        <div class="col-md-3">
          <ol class="w-list-unstyled">
            <li>
              <div class="footerlabel">Navigation</div>
            </li>
            <li><a class="footer-link" href="/">Scottsdale Maid Services</a>
            </li>
            <li><a class="footer-link" href="/about">About Us</a>
            </li>
            <li><a class="footer-link" href="/privacy">Privacy</a>
            </li>
            <li><a class="footer-link" href="/terms-of-service">Terms of Service</a>
            </li>
          </ol>
        </div>
        <div class="col-md-3">
          <ol class="w-list-unstyled">
            
            <li>
              <div class="footerlabel">Areas We Serve</div>
            </li>
            <li><a class="footer-link" href="/house-cleaning-phoenix">Phoenix</a>
            </li>
            <li><a class="footer-link">Scottsdale</a>
            </li>
            <li><a class="footer-link">Gilbert</a>
            </li>
            <li><a class="footer-link">Peoria</a>
            </li>
            <li><a class="footer-link" href="house-cleaning-chandler">chandler</a>
            </li>
            <li><a class="footer-link">Tempe</a>
            </li>
            
          </ol>
        </div>

        <div>
          <ol class="w-list-unstyled">
            <div class="footerlabel">Maid Fox</div>
            <div  class="address">
              <p >(480) 360-6243</p>
              <p>Address:</p>
              <p >4437 N 30th Dr. Ste 101</p>
              <p><span>Phoenix</span>, <span>AZ</span> <span>85017</span></p>

            </div>            
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-section">
    <div class="footer-text" style="margin-left:20px; letter-spacing: 1px;">©&nbsp;MaidFox. All Rights Reserved.</div>
  </div>
s